.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: auto;
    max-width: 300px;
    justify-content: center;
}

.cell {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: lavender;
    border: 2px solid purple;
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold; 
    font-family: Barlow, Verdana, sans-serif;
    align-items: center;
    justify-content: center;    
}

/* .game-play-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   */


#testing {
    text-align: center;
    font-size: 30px;
}