body {
    background-color: white;
    background-color: rgb(222, 247, 255);
    font-family: Barlow, Verdana, sans-serif;
    margin: 0px;
}

.heading {
    text-align: center;
    text-decoration: none;
    font-size: 40px;
}

.heading a {
    text-decoration: none;
    color: black;
}

main {
    margin: 8px;
}

h2 {
    text-align: center;
}


.nav-bar {
    list-style-type: none;
    /* margin-bottom: 10px; */
    padding: 0;
    overflow: hidden; 
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}
/* .nav-item {
    float: left;
} */


.nav-bar a {
    color: white;
    text-decoration: none;
    /* padding: 14px 16px; */
    padding: 15px;
    display: block;
}

.inactive:hover {
    color: black;
    background-color: white;

}

.nav-bar a.active {
    color: black;
    background-color: white; 
}


.games {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Creates a 3x3 grid*/
    justify-content: center;
    /* background-color: rgb(222, 247, 255); */
    background-color: white;
    border-radius: 10px;
    /* flex-wrap: wrap;
    flex-direction: row; */
    gap: 10px; /* Space between cells */
    margin: 20px auto;  /* Centering the grid */
    align-content: center;
    max-width: 50%; /*Restricting the maximum width of the grid*/

}

.games img {
    height: 200px;
    padding: 20px;
    border-radius: 50px;
    margin: auto;
}

.flex-item {
    /* width: 50%;  */
    /* margin: auto;
    margin-left: 50px; */
}

footer {
    margin: 8px; 
}

@media (max-width: 500px) {
    .games {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}