.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 3x3 grid */
    gap: 10px; /* Space between cells */
    /* margin: 20px auto;  Centering the grid */
    justify-content: center;
    align-content: center;
    max-width: 300px; /* Restricting the maximum width of the grid */
}

.cell {
    background-color: rgb(142, 255, 246);
    border: 2px solid #02776d;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    aspect-ratio: 1 / 1; /* Ensures that cells are square */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Set a fixed height for better visual */
    color: #444; /* Default text color */
}

.cell.red { color: red; }
.cell.blue { color: blue; }

.cell:hover {
    background-color: #35fae9; /* Hover effect for cells */
}

#resultDisplay{
    font-size: 24px;
    margin: 20px;
}

#difficultySelection, #resultDisplay {
    text-align: center;
    padding-bottom: 10px;
}


.game-play-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}  

#restartButton {
    background-color: rgb(142, 255, 246);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: rgb(2, 119, 109) solid;
    opacity: 0.8;
    margin-bottom: 15px;
}

#restartButton:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(2, 119, 109, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


@media (max-width: 390px) {
    .cell {
        height: 80px; /* Set a fixed height for better visual */
    }
    .board {
        max-width: 75%
    }
}