#resultDisplay{
    font-size: 24px;
    margin: 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates a 5x6 grid */
    gap: 5px; 
    justify-content: center;
    align-content: center;
    max-width: 300px;
}

.cell {
    background-color: #fff;
    border: 2px solid #333;
    font-size: 20px;
    font-weight: bold;
    aspect-ratio: 1 / 1; /* Ensures that cells are square */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; 
    color: #444; /* Default text color */
}

/*.keyboard{
    padding: 20px;
    position: center;
    display: grid;
    grid-template-columns: repeat(26, 30px);
    grid-template-rows: repeat(3, 60px);
    gap: 2.5px;
    justify-content: center;
    align-content: center;
}

.key {
    background-color: #fff;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center
    
} */


.game-play-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}  

