h2 {
    margin-bottom: 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: auto;
    max-width: 300px;
    justify-content: center;
}

.cell {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: lavender;
    border: 2px solid purple;
    border-radius: 5px;
    font-size: 45px;
    font-weight: bold; 
    font-family: Barlow, Verdana, sans-serif;
    align-items: center;
    justify-content: center;    
}

/* .game-play-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   */


#testing {
    text-align: center;
    font-size: 30px;
}

#score {
    text-align: center;
    margin: auto;
    width: 100px;
    background-color: white;
    border-radius: 5px;
}

#score-title {
    /* background-color: rgb(212, 212, 212); */
    background-color: lavender;
    /* border: 2px solid purple; */
    /* border-width: 2px 2px 0px 2px; */
    border-radius: 5px 5px 0px 0px; 
    padding: 10px;
    /* margin-bottom: 0px;
    margin-top: 0px;  */
    margin: 0px;
}

#score-value {
    padding: 10px; 
    margin-top: 0px;
    height: 22px;
    margin-bottom: 10px;
}

#results {
    text-align: center;
}
    
#button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
}

#restartButton {
    background-color: rgb(230, 230, 250);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: rgb(128, 0, 128) solid;
    opacity: 0.8;
}

#restartButton:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(128, 0, 128, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.new-cell {
    background-color: pink;
}

.val-2 {
    background-color: rgb(255, 183, 183);
}

.val-4 {
    background-color: rgb(255, 199, 164); 
}

.val-8 {
    background-color: rgb(255, 242, 157);
}

.val-16 {
    background-color: rgb(169, 255, 169);
}

.val-32 {
    background-color: rgb(160, 206, 255);
}

.val-64 {
    background-color: rgb(203, 171, 255);
}

.val-128 {
    background-color: rgb(143, 236, 255);
}

.val-256 {
    background-color: rgb(214, 127, 255);
}

.val-512 {
    background-color: rgb(105, 255, 163);
}

.val-1024 {
    background-color: rgb(43, 175, 246);
}

.val-2048 {
    background-color: rgb(168, 148, 255);
}

@media (max-width: 460px) {
    .cell {
        height: 80px;
    }

    #board {
        max-width: 50%; 
    }
}

@media (max-width: 375px) {
    .cell {
        height: 64px;
        font-size: 40px;
    }
    #board {
        max-width: 75%;
    }
}